<%- include("../partials/header", {title: "SIMMER"})%>
    <h1>Welcome to Your Profile</h1>

    <h2>Your Saved Recipes</h2>
    <% if (savedRecipes.length > 0) { %>
        <ul>
            <% savedRecipes.forEach(function(recipe) { %>
                <li><%= recipe.title %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No saved recipes yet.</p>
    <% } %>

    <%- include("../partials/footer") %>