<!--LANDING PAGE-->
<%- include('./partials/header', { user: user }) %>

<h3>Simple Recipes That Make You Feel Good</h3>

<%- include("./partials/recipe", { user: user }) %>
<%- include("./partials/footer") %>
