<!--LANDING PAGE-->

<%- include('./partials/header') %>
  

    <form role="search" id="search-bar">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      <button class="search-btn">Search</button>
    </form>

   
    

   

   
    <%- include("./partials/footer") %>
