<!--LANDING PAGE-->

<% let user = {}; %>
<%- include('./partials/header', { user: user }) %>

    <form role="search" id="search-bar">
      <input type="search" class="form-control" placeholder="Find a recipe..." aria-label="Search">
      <button class="search-btn">Search</button>
    </form>

     <%- include("partials/recipe") %>
  

   

   
    <%- include("./partials/footer") %>
