<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a id="recipe" href="https://www.allrecipes.com/recipe/61791/sauteed-mushrooms-in-garlic/" >
        <div>
            <div>
                <div>
        <img data-src="https://www.allrecipes.com/thmb/NDs2uH6MfBSKHWLjDs-caiJ_tIc=/364x242/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/61791sauteed-mushrooms-in-garlicFranceC4x3-fb6be107ec5c4c51ba3b25f68878c0e8.jpg" width="364" height="242" alt="garlic mushrooms in white bowl" src="https://www.allrecipes.com/thmb/NDs2uH6MfBSKHWLjDs-caiJ_tIc=/364x242/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/61791sauteed-mushrooms-in-garlicFranceC4x3-fb6be107ec5c4c51ba3b25f68878c0e8.jpg">
        <noscript>
        <img
        src="https://www.allrecipes.com/thmb/NDs2uH6MfBSKHWLjDs-caiJ_tIc=/364x242/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/61791sauteed-mushrooms-in-garlicFranceC4x3-fb6be107ec5c4c51ba3b25f68878c0e8.jpg"
        width="364"
        height="242"
        class="img--noscript card__img universal-image__image"
        alt="garlic mushrooms in white bowl"
        />
        </noscript>
        </div></div>
        <div id="card__save_4-0" class="comp card__save mntl-save mntl-block"><button id="mntl-save__link_4-0" class="comp mntl-save__link mntl-button" data-scroll-to-save="true" data-click-tracked="false" data-check-on-load="false" data-doc-id="6574327" data-tracking-on="card" data-sign-in="/authentication/login?regSource=3833&amp;relativeRedirectUrl=" aria-label="Save Recipe" bookmarksregsource="com.about.mantle.model.ConfigValue@2f7b7c24">
        <svg class="icon save-icon-favorite mntl-button__icon ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#save-icon-favorite"></use>
        </svg>
        </button></div>
        </div>
        <div class="card__content " data-tag="Mushrooms">
        <div class="card__header"></div>
        <span class="card__title"><span class="card__title-text ">Garlic Mushrooms</span></span>
        <div id="mntl-recipe-card-meta_4-0" class="comp mntl-recipe-card-meta">
        <div id="mntl-recipe-star-rating_4-0" class="comp mntl-recipe-star-rating">
        <svg class="icon icon-star ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
        </svg>
        <svg class="icon icon-star ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
        </svg>
        <svg class="icon icon-star ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
        </svg>
        <svg class="icon icon-star ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
        </svg>
        <svg class="icon icon-star-half ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star-half"></use>
        </svg>
        </div>
        <div class="mntl-recipe-card-meta__rating-count-number">
        84
        <span class="mntl-recipe-card-meta__rating-count-text">
        Ratings
        </span>
        </div>
        </div> </div>
        </a>
</body>
</html>