body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: darkgray;
  font-family: "Bebas Neue", sans-serif;

}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* nav bar styling */

#nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  align-items: center; 
  padding: 0 20px; 
  background-color: #fff; 
  color: #000; 
  height: 100px;
}

#nav-title {
  grid-column: 1 / span 1; 
  display: flex;
  align-items: center;
}

#search-bar {
  grid-column: 2 / span 1; 
  display: flex;
  align-items: center;
}

#nav-items {
  grid-column: 3 / span 1; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  
}
 /* ------------ */

#menu {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  transition: right 0.3s ease-in-out;

}

#menu.open {
  right: 0; 
}

#menu.open {
  display: block;
}

#menu {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.nav-img {
  height: 60px;
  width: 40px;
  cursor: pointer;
 
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.menu-btn {
  display: flex;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.login {
  font-size: 20px;
  position: absolute;
  right: 100px;
  top: 40px;
  
  
}

.logout {
  display: none;
}


.menu-item {
  border-bottom: #fff 2px solid;
  font-size: 15px;
  
  
}

.m-item {
  margin-bottom: 20px;
}

#menu-img {
  width: 50px;
  height: 70px;
}

.menu-h6 {
  margin-bottom: 50px;
  font-size: 25px;
}

.item {
  padding: 10px;

}

.dropdown {
  color: white;
  padding: 10px;
  transition: background-color 0.3s;
}

.dropdown a:hover {
  background-color: #555;
}

.search-btn {
  border: red 2px solid;
  background-color: #EE3636;
  color: #fff;
  width: 100px;
  height: 40px;
  padding: 0 20px;
  border-radius: 15%;
  font-size: 20px;
}

h4 {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.flex-form {
  display: flex;
  flex: wrap;
  flex-direction: column; 
  width: 500px; 
}

.flex-form label {
  margin-bottom: 5px; 
}

.flex-form input {
  margin-bottom: 10px; 
}

.flex-form textarea {
  height: 100px;
  resize: vertical; 
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.recipe-item {
  width: calc(33.33% - 20px); 
  background-color: #f9f9f9; 
  padding: 20px; 
  box-sizing: border-box; 
}

.recipe-item h2 {
  margin-top: 0; 
}

.recipe-item p {
  margin-bottom: 10px; 
}

.recipe-item {
  max-width: 100%; 
  height: auto; 
  
}

.p-image {
  position: absolute;
  width: 50px;
  right: 80px;
  top: 12px;
  
  
}

.c-image {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 100px;
 
}

.img-google {
  position: absolute;
  width: 30px;
  right: 65px;
  top: 35px;
  

}

.title-login {
  position: absolute;
  right: 70px;
}