<%- include('../partials/header', { title: 'SIMMER' }) %>
<h4> Whip Up Something New: Share Your Recipe with the World!</h4>
<div class="form-container">
    <form action="/recipes" method="POST" class="flex-form">
        <label for="title">Title:</label>
        <input type="text" name="title">
        <label for="description">Description:</label>
        <textarea name="description"></textarea> <!-- Changed to textarea -->
        <label for="ingredients">Ingredients:</label>
        <textarea name="ingredients"></textarea> <!-- Changed to textarea -->
        <label for="instructions">Instructions:</label>
        <textarea name="instructions"></textarea> <!-- Changed to textarea -->
        <label for="imgURL">Image url:</label>
        <input type="text" name="imgURL">
        <div>
            <div>
                <input type="radio" id="private_recipe" value="private" name="privacy">
                <label for="private_recipe">Personal recipes (only you can see it)</label>
            </div>
            <div>
                <input type="radio" id="public_recipe" value="public" name="privacy">
                <label for="public_recipe">Public recipes</label>
            </div>
        </div>
        <input type="submit" value="Add Recipe">
    </form>
</div>

<%- include('../partials/footer') %>
